body{
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: rgb(224, 224, 224);

}

.header{
    padding: 0 0 60px 0;
}


h1{
    text-align: center;
}

.cartblock__cart {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.outline {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: #f0f0f0;
    border-radius: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
}

.logosvg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cartblock{
    padding: 10px 100px 10px 100px;
    background-color: rgb(224, 224, 224);

}

.cartblock__first{
    display: flex;
}

.cartblock__second{
    display: flex;
}
.cartblock__cart{
    padding: 0 50px 0 50px;
}

.cartblock__item{
    text-align: center;
}


.progblock__title{
    text-align: center;
}

.progblock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progblock__cart {
    position: relative;
    width: 350px;
    height: 350px;
    background-image: url('../img/dog-9478504_1280.jpg'); /* Подставь свой путь */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;

}




.progblock__cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 128, 0, 0.5); /* Цвет затемнения */
}



.progblock__cart_item {
    position: relative;
    z-index: 2;
}

p{
    font-weight: normal;
    font-size: 18px;
}
.progblock__first{
    display: flex;
    margin-bottom: 20px;

}.progblock__second{
    display: flex;
}













@media (max-width: 1024px) {
    .cartblock__first{
        display: flex;
        flex-direction: column;
    }
    .cartblock__second{
        display: flex;
        flex-direction: column;

    }
    .outline {
        width: 100px;
        height: 100px;

    }
    .header{
        padding: 0 0 20px 0;
        
    }
    .progblock__first{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
    
    }.progblock__second{
        display: flex;
        flex-direction: column;

    }.progblock__cart{
        width: 500px;
        height: 700px;
        margin: 10px;
    }
}

/* Мобильные устройства (макс. 768px) */
@media (max-width: 768px) {
    .outline {
        width: 90px;
        height: 90px;
    }
    .cartblock{
        padding: 10px 10px 10px 10px;
        background-color: rgb(224, 224, 224);
    
    }.progblock__cart{
        width: 300px;
        height: 300px;
        margin: 10px;
    }
    
}

/* Маленькие экраны (макс. 480px) */
@media (max-width: 480px) {

}
